.save {
  font-size: 14px;
  padding: 8px 30px;
  color: white;
  font-weight: 500;
  border: 1px solid #db3022;
  background-color: #db3022;
  border-radius: 40px;
}
.main {
  .containerNavbar {
    display: flex;
    align-items: center;
    background-color: white;
  }

  .category1 {
    display: flex;
    overflow-x: scroll;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;

    .item {
      flex: 0 0 40%;
      border-radius: 8px;
      scroll-snap-align: start;
      cursor: pointer;
    }
  }

  .category1 {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
  }

  // .category1::-webkit-scrollbar {
  //   width: 0.1em;
  //   height: 5em;
  //   display: flex;
  //   justify-content: flex-end;
  //   margin-top: 200px;
  // }

  // .category1::-webkit-scrollbar-thumb {
  //   background-color: rgba(0, 0, 0, 0.2);
  // }

  .category2 {
    .subTitle {
      margin-bottom: 25px;
      p {
        margin-top: -6px;
        font-size: 14px;
        color: #9b9b9b;
      }
    }

    .content {
      display: flex;
      overflow-x: scroll;
      scroll-padding: 24px;
      border-radius: 8px;
      gap: 12px;

      .item {
        flex: 0 0 20%;
        border-radius: 8px;
        scroll-snap-align: start;

        .icon {
          cursor: pointer;
        }
      }
    }
  }

  .Product {
    .subTitle {
      margin-bottom: 25px;
      p {
        margin-top: -6px;
        font-size: 14px;
        color: #9b9b9b;
      }
    }

    .content {
      .card {
        width: 100%;
        border: none;
        text-decoration: none;

        .imgProduct {
          height: 165px;
          object-fit: cover;
        }

        .cardTitle {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          color: black;
        }

        .price {
          color: #db3022;
        }

        .shopName {
          font-size: 14px;
          color: #9b9b9b;
        }

        .rating {
          width: 100px;
          margin-top: -30px;
        }
      }
    }
  }
}
