.main {
  .register {
    .col {
      padding: 100px 0 0 0;

      .icon {
        display: flex;
        justify-content: center;
      }

      .order {
        margin-top: 30px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
      }

      .errorHandling {
        display: flex;
        justify-content: center;

        .error {
          width: 400px;
        }
      }

      .form {
        display: flex;
        justify-content: center;

        input {
          width: 400px;
          padding: 13px;
          padding-left: 20px;
          color: #858D96;
          font-size: 14px;
          border-color: #9B9B9B;
          border-radius: 5px;
        }

        input:focus {
          box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
          border-color: #DB3022;
        }

        p {
          color: #DB3022;
          font-weight: 500;
          margin-bottom: 0;
          margin-top: 15px;
          font-size: 15px;
        }
      }

      .btnLogin {
        display: flex;
        justify-content: center;

        button {
          width: 400px;
          background-color: #DB3022;
          border-radius: 50px;
          color: white;
          font-size: 14px;
          padding: 10px;
          border-color: #DB3022;
        }

        margin-top: 20px;
      }

      .register {
        .linkLogin {
          color: #DB3022;
          text-decoration: none;
        }
      }
    }
  }
}